*.log
/res
/data
/node_modules
/beamup.json
/test.js
/package-lock.json
/landingTemplate.js
/cache/files/*
build.bat
deploy.sh
.dockerignore
Dockerfile
vercel.json
.vercel
.vercelignore
sqlite.db*
/uploads/*
.env
bun.lockb
